/* main motion */
.highLight {
    position: relative;
    color: rgb(252 218 106);
}

.highLight::before {
    content: '';
    position: absolute;
    display: block;
    background: #222;
    width: 0%;
}

@media (max-width: 425px) {
    .highLight::before {
        top: 3px;
        height: 22px;
    }
}

@media ((min-width: 425px) and (max-width: 550px)) {
    .highLight::before {
        top: 5px;
        height: 27px;
    }
}

@media ((min-width: 550px) and (max-width: 768px)) {
    .highLight::before {
        top: 7px;
        height: 33px;
    }
}

@media ((min-width: 768px) and (max-width: 1024px)) {
    .highLight::before {
        top: 9px;
        height: 42px;
    }
}

@media ((min-width: 1024px) and (max-width: 1440px)) {
    .highLight::before {
        top: 13px;
        height: 48px;
    }
}

@media (min-width: 1440px) {
    .highLight::before {
        top: 15px;
        height: 70px;
    }
}

.animate::before {
    animation: beforeAnimation 1.2s ease-in-out;
}
.animate {
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-duration: 0s;
    animation-name: changeColor;
}

@keyframes beforeAnimation {
    0% {
        width: 0%;
        left: 0;
    }
    40% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0%;
        right: 0;
    }
}

@keyframes changeColor {
    to {
        color: #222;
    }
}
  